
.thumbnail {

  border: none;
}

.thumbnail > img {

  height: 300px;
  width: 300px;
}

h3 {

  font-family: 'EB Garamond', serif;
}

h3:hover {

  color: #922f3e;
}

h5 {

  color: #944c4c;
}

h5:hover {

  color: #ae4747;
}
