
.thumbnail {

  border: none;
}

.thumbnail > img {

  height: 300px;
  width: 300px;
}

h4 {
  font-size: 15px;
}

h5 {

  color: #944c4c;
}

h5:hover {

  color: #ae4747;
}

button {
  border: none;
  color: #000;
  font-family: 'EB Garamond', serif;
  background-color: #fff;
  text-align: left;
  font-size: 23px;
  padding-left: 0px;
  /*margin: -2.5%;*/
  margin-bottom: 3px;
}

button:hover{
    color: #922f3e;
}
